{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sindhi Maitryuen</title>
  <link rel="stylesheet" href="{% static 'sindhisoc.css' %}">
  <link rel="stylesheet" href="{% static 'default.css' %}">
</head>
<body>

  <!-- Navbar -->
<div class="navbar">
  <div class="nav-left">SindhiMaitryuen.com</div>
  
  <div class="nav-center">
    <a href="{% url 'index' %}">Home</a>
    <a href="{% url 'services' %}">Services</a>
    <a href="#">Sindhi Society</a>
    <a href="{% url 'team' %}">Our Team</a>
    <a href="{% url 'contact' %}">Contact Us</a>
  </div>

  <div class="nav-right">
    {% if request.session.user_id %}
      <a href="{% url 'logged' %}" class="btn register-btn">Browse Profiles</a>
      <a href="{% url 'profile' %}" class="btn login-btn">Your Profile</a>
    {% else %}
      <a href="{% url 'page1' %}" class="btn register-btn">Register Now</a>
      <a href="{% url 'login' %}" class="btn login-btn">Login</a>
    {% endif %}
  </div>
</div>


  <!-- Hero Section -->
  <section class="hero-section">
    <img src="{% static 'photos/sindhisoc.png' %}" alt="Couple" class="hero-img">
  </section>

  <!-- Ad Box -->
  <footer class="ad-box">
    <p>Advertisement Space (4 x 30 cm)</p>
  </footer>

</body>
</html>
